// Font weights

$fwRegular: 400;
$fwSemibold: 500;
$fwBold: 700;

// Colors

$magenta: hsl(300, 43%, 22%);
$pink: hsl(333, 80%, 67%);
$grey: hsl(303, 10%, 53%);
$lightGrey: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
